p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}
p{
    margin:20px 20px;
}
nav ul li
{
    list-style-type: none;
    margin-left:20px;
    font-size:x-large;
    border-right:2px solid black;
    padding:1% 3%;
}
nav ul li:hover
{
    background-color: rgb(32, 47, 147);
    border-radius:10px;
    font-size: 40px;
    color:white;
    
}
nav
{
    margin:20px 20px;
    border:2px dotted black;
    padding-top:20px;
    background-color: rgb(112, 208, 235);
}
nav ul
{
    display: flex;
    justify-content: center;
    align-items:center;
}
.expo
{
    height:20vw;
    width:30vw;
    background-color: cadetblue;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    border:20px solid black;
    padding:10%;
    margin:25%;
    font-size: 2vw;

}
.form
{
    background-color: rgb(20, 92, 151);
    display:flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-around; */
    margin:25%;
    height:50vw;
    
}
.form label
{
    display:block;
    width:100%;
    font-size: 1.5vw;
    margin-bottom:15px;
}
.form input
{
    display:block;
    width:100%;
    font-size: 1.5vw;
    margin-bottom:8px;
}